#Mac_OS_X_Finder
.DS_Store
*.moved-aside
.idea/


#Private_Keys
*.pem


#Xcode_legacy
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
!default.mode1v3
build/
*.pbxuser
!default.pbxuser
!default.mode2v3
*.perspectivev3
!default.perspectivev3


#Xcode
DerivedData
*.xcworkspace
project.xcworkspace
project.xcworkspace/
!default.xcworkspace
*.xcuserstate
UserInterfaceState.xcuserstate
UserInterface.xcuserstate
xcuserdata/
xcuserdata


#Repositories
.hg
.svn
CVS


#Automatic_backup_files
*~.nib
*.swp
*~
*(Autosaved).rtfd/
Backup[ ]of[ ]*.pages/
Backup[ ]of[ ]*.key/
Backup[ ]of[ ]*.numbers/

#Pods
Pods/
Namedrop/Podfile.lock
